<h3><%= @post.title %></h3>
<% if @post.img_url.present? %>
  <%= image_tag @post.img_url, class: "post-img" %>
<% end %>
<div>
  <%= @post.body %>
</div>

<hr>
<div id="like-box">
  <% if @like_count > 0 %>
    <div>
      <%= @like_count %> people liked this post
    </div>
  <% end %>
  <% if @like %>
    <%= link_to "unlike", post_like_path(@post, @like), data: {turbo_method: :delete} %>
  <% else %>
    <%= link_to "like", post_likes_path(@post, @like), data: {turbo_method: :post} %>
  <% end %>
</div>

<hr>
<div>
  <%= turbo_frame_tag "new-comment", src: new_post_comment_path(@post, @post.comments.build) %>
</div>

<% if @comments.present? %>  
  <h3>Comments on post:</h3>
  <div id="comment-box">
    <%= render @comments %>
  </div>
<% end %>

<hr>
<% if @post.user_id == current_user.id %>
  <div>
    <%= link_to "Edit Post", edit_post_path(@post) %>
  </div>

  <div>
    <%= link_to "Delete Post", post_path(@post), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>

